.recommend{width: 97%;height:65rem;background-color: #fff;overflow: auto;position: fixed;top: 35px;}
.find{width: 20px;height: 20px;position: relative;left: 30px;top: 5px;}
input{ width: 75%;height: 2.5rem;border-radius: 10px;padding: 0 30px;}
.user{width: 80%;height: 3.5rem;border: 0px solid black;padding: 0 30px;margin-top: 10px;}
.user .tou{width: 30px;height: 30px;border-radius: 50%;}
.user span{font-size: 16px;position: relative;top: -8px;font-weight: bolder;}
.swiper-wrapper{width: 75%;height: 15rem;border: 0px solid black;}
.swiper-wrapper img{width: 100%;border-radius: 10%; height: 90%;}
.swiper-wrapper.swiper-slide:nth-child(1) {width: 70%;}
.rec_cont1{width: 100%;height: 12rem;float: left;border: 0rem red solid;margin-bottom:1rem;}
.swiper-container {width: 100%;height: 100%;}
.swiper-container .swiper-slide {text-align: center;width: 34%; display: flex;justify-content: center;align-items: center;}
.swiper-container .swiper-slide:nth-child(1) {width: 70%;}
.swiper-container .swiper-slide img{width: 100%;height: 80%;margin: -1.7rem 0 0 0;border-radius: 1rem;}
.swiper-container .swiper-slide p{font-size:1.2rem;position: absolute;bottom: 0px;}
.header{font-size: 16px;position: relative;top: -8px;font-weight: bolder;position: relative;top: 5px;margin-left: 30px;}

.rec_cont3{position: relative;margin-top: 10px; border: 1px solid black;height: 34rem;}
.rec_cont3 .swiper-container .swiper-slide {text-align: center;width: 34%; display: flex;justify-content: center;align-items: center;}

.rec_cont4{position: relative;margin-top: 10px; border: 1px solid black;height: 51rem;}
.rec_cont4 .swiper-container .swiper-slide p{font-size:1.6rem;position: absolute;top: 30px;font-weight: bolder;left: 180px;}
.rec_cont4 .swiper-container .swiper-slide span{font-size:1.6rem;position: absolute;top: 90px;left: 180px;}
.rec_cont4 .swiper-container .swiper-slide {text-align: center;width: 34%; display: flex;justify-content: center;align-items: center;
    border: 0px solid black;}
.rec_cont4 .swiper-container .swiper-slide img{width: 25%;position: relative;left: -150px;}
.rec_cont4 .swiper-container .swiper-slide {border: 1px solid black;width: 50rem;}


.rec_cont5{position: relative;margin-top: 10px; border: 1px solid black;height: 17rem;}
.rec_cont5 .swiper-container .swiper-slide {text-align: center;width: 34%; display: flex;justify-content: center;align-items: center;}






